openapi: 3.1.0
info:
  title: ZUKU Platform API
  description: Canonical public ZUKU REST contract. Generated SDK types and validators use this file. Availability
    metadata distinguishes implemented server routes from legacy contract gaps.
  version: 1.1.0
  contact:
    name: ZUKU API Support
    email: api-support@zuzunza.com
    url: https://developers.zuzunza.com
  license:
    name: Proprietary
    url: https://zuzunza.com/license
servers:
- url: https://www.zuzunza.com/api/v1
  description: Production API (canonical)
- url: https://api.zuzunza.com/v1
  description: Legacy hostname; not a working production API base. Do not use as fallback.
tags:
- name: Auth
  description: 인증 및 사용자 관리
- name: Feeds
  description: 피드 조회 (Hype, Swipe, Jump 통합)
- name: Contents
  description: 콘텐츠 CRUD 및 상호작용
- name: Hype
  description: Hype 콘텐츠 인터랙션
- name: Swipe
  description: Swipe 콘텐츠 시청
- name: Jump
  description: Jump 게임 플랫폼
- name: Creators
  description: 크리에이터 프로필 및 팔로우
- name: Moderation
  description: 콘텐츠 신고 및 검열
- name: Admin
  description: 관리자 전용 엔드포인트
security:
- BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: Account access token or scoped Game CLI token, where supported.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Developer Console에서 발급받은 API 키
    BrowserSession:
      type: apiKey
      in: cookie
      name: zuku_session
      description: Explicit same-origin browser sessions only; native Game CLI OAuth rejects cookies.
  schemas:
    PaginationMeta:
      type: object
      required:
      - total
      - limit
      - offset
      - has_more
      properties:
        total:
          type: integer
          description: 전체 항목 수
          example: 1234
        limit:
          type: integer
          description: 요청된 페이지 크기
          example: 20
        offset:
          type: integer
          description: 현재 오프셋
          example: 0
        has_more:
          type: boolean
          description: 다음 페이지 존재 여부
          example: true
    ErrorResponse:
      type: object
      properties:
        success:
          const: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
                required:
                - field
                - message
          required:
          - code
          - message
        meta:
          $ref: '#/components/schemas/ApiMeta'
      required:
      - success
      - error
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 요청이 성공적으로 처리되었습니다
    User:
      type: object
      required:
      - id
      - email
      - handle
      - created_at
      - profile_completion_status
      properties:
        id:
          type: string
          description: 사용자 고유 ID
          example: usr_01H8X9Y2Z3A4B5C6D7E8F9G0
        email:
          type: string
          format: email
          example: user@example.com
        display_name:
          type: string
          example: 시즈쿠 유저
        avatar_url:
          type:
          - string
          - 'null'
        role:
          type: string
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T09:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-08-19T09:00:00Z'
        profile_completion_status:
          type: string
          enum:
          - incomplete
          - complete
          description: 추가 프로필 입력 상태. 최소 가입 직후에는 incomplete입니다.
        handle:
          type: string
          example: shizuku_user
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
          x-zuku-min-utf8-bytes: 8
        password_confirm:
          type: string
          minLength: 1
          x-zuku-min-utf8-bytes: 8
        handle:
          type: string
          minLength: 1
        display_name:
          type: string
        zcaptcha_token:
          type: string
          minLength: 1
      required:
      - email
      - password
      - password_confirm
      - handle
      - zcaptcha_token
    LoginRequest:
      type: object
      properties:
        identifier:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
        device_id:
          type: string
        zcaptcha_token:
          type: string
          minLength: 1
      required:
      - password
      - zcaptcha_token
      anyOf:
      - required:
        - identifier
      - required:
        - email
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
    RefreshRequest:
      type: object
      required:
      - refresh_token
      properties:
        refresh_token:
          type: string
          example: rt_01H8X9Y2Z3A4B5C6D7E8F9G0
    OAuthProvider:
      type: string
      enum:
      - github
      - google
      - apple
    ContentCategory:
      type: string
      enum:
      - hype
      - swipe
      - jump
      - vive
      - vine
    ContentStatus:
      type: string
      enum:
      - draft
      - published
      - archived
      - moderated
      - deleted
    Content:
      type: object
      properties:
        id:
          type: string
        category:
          $ref: '#/components/schemas/ContentCategory'
        type:
          type: string
        title:
          type: string
        description:
          type: string
        thumbnail_url:
          type: string
        media_url:
          type:
          - string
          - 'null'
        creator:
          $ref: '#/components/schemas/CreatorSummary'
        stats:
          type: object
          properties:
            like_count:
              type: integer
              minimum: 0
            comment_count:
              type: integer
              minimum: 0
            view_count:
              type: integer
              minimum: 0
            share_count:
              type: integer
              minimum: 0
            bookmark_count:
              type: integer
              minimum: 0
          required:
          - like_count
          - comment_count
          - view_count
          - share_count
          - bookmark_count
        tags:
          type: array
          items:
            type: string
        age_rating:
          type: string
        is_liked:
          type: boolean
        is_bookmarked:
          type: boolean
        is_following_creator:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
        hype:
          type: object
          properties: {}
          required: []
        swipe:
          type: object
          properties: {}
          required: []
        jump:
          type: object
          properties: {}
          required: []
      required:
      - id
      - category
      - type
      - title
      - creator
      - stats
      - created_at
      - updated_at
    CreateContentRequest:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/ContentCategory'
        type:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
        thumbnail_url:
          type: string
        media_url:
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: string
          maxItems: 10
        age_rating:
          type: string
          enum:
          - all
          - '12'
          - '15'
          - '18'
        hype:
          type: object
          properties: {}
          required: []
        swipe:
          type: object
          properties: {}
          required: []
        jump:
          type: object
          properties: {}
          required: []
        package_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
        size_bytes:
          type: integer
          minimum: 1
        publish_to_thread:
          type: boolean
        also_publish_swipe:
          type: boolean
        source_surface:
          type: string
      required:
      - category
      - type
      - title
      oneOf:
      - type: object
        properties:
          category:
            const: hype
          type:
            type: string
            enum:
            - interactive_longform
            - horizontal_media
            - photo_media
        required:
        - category
        - type
      - type: object
        properties:
          category:
            const: swipe
          type:
            type: string
            enum:
            - vertical_video
        required:
        - category
        - type
      - type: object
        properties:
          category:
            const: jump
          type:
            type: string
            enum:
            - game
          jump:
            type: object
            properties:
              status:
                const: draft
            required:
            - status
        required:
        - category
        - type
        - jump
      - type: object
        properties:
          category:
            const: vive
          type:
            type: string
            enum:
            - literary_work
            - serial_chapter
            - short_essay
        required:
        - category
        - type
      - type: object
        properties:
          category:
            const: vine
          type:
            type: string
            enum:
            - audio_track
            - score_attach
            - voice_clip
            - utau_asset
            - virtual_idol
        required:
        - category
        - type
    UpdateContentRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
        tags:
          type: array
          items:
            type: string
          maxItems: 10
        age_rating:
          type: string
        thumbnail_url:
          type: string
        boost_to_thread:
          type: boolean
      required: []
      additionalProperties: false
    Comment:
      type: object
      properties:
        id:
          type: string
        content_id:
          type: string
        body:
          type: string
        created_at:
          type: string
        author:
          type: object
          properties: {}
          required: []
        parent_id:
          type:
          - string
          - 'null'
        is_deleted:
          type: boolean
      required:
      - id
      - body
      - created_at
    CreateCommentRequest:
      type: object
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 1000
        parent_id:
          type:
          - string
          - 'null'
      required:
      - body
    FeedFilter:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/ContentCategory'
        sort:
          type: string
          enum:
          - latest
          - popular
          - trending
          default: latest
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    FeedResponse:
      type: object
      properties:
        feeds:
          type: array
          items:
            $ref: '#/components/schemas/Content'
        pagination:
          anyOf:
          - $ref: '#/components/schemas/Pagination'
          - $ref: '#/components/schemas/StreamPagination'
        sort:
          type: string
      required:
      - feeds
      - pagination
      - sort
    HypeContent:
      allOf:
      - $ref: '#/components/schemas/Content'
      - type: object
        properties:
          hype_score:
            type: number
            format: float
            description: 인기도 점수 (0-100)
            example: 87.5
          interaction_count:
            type: integer
            example: 4521
    HypeInteractRequest:
      type: object
      required:
      - action
      properties:
        action:
          type: string
          enum:
          - like
          - super_like
          - share
          - comment
          example: like
        comment_text:
          type:
          - string
          - 'null'
          maxLength: 500
          example: 대박이네요!
    SwipeContent:
      allOf:
      - $ref: '#/components/schemas/Content'
      - type: object
        properties:
          swipe_data:
            type: object
            properties:
              full_duration:
                type: integer
                description: 전체 영상 길이 (초)
                example: 15
              preview_duration:
                type: integer
                description: 미리보기 길이 (초)
                example: 5
              cta_text:
                type:
                - string
                - 'null'
                example: 자세히 보기
    SwipeWatchRequest:
      type: object
      properties:
        watch_duration:
          type: integer
          description: 시청 시간 (초)
          example: 12
        completed:
          type: boolean
          description: 전체 시청 완료 여부
          example: true
    Game:
      $ref: '#/components/schemas/Content'
    PlayGameRequest:
      type: object
      properties:
        content_id:
          type: string
          minLength: 1
      required:
      - content_id
    GameReview:
      type: object
      required:
      - id
      - user_id
      - rating
      - created_at
      properties:
        id:
          type: string
          example: rev_01H8X9Y2Z3A4B5C6D7E8F9G0
        user_id:
          type: string
        game_id:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        text:
          type:
          - string
          - 'null'
          example: 정말 재미있어요!
        created_at:
          type: string
          format: date-time
    CreateReviewRequest:
      type: object
      required:
      - rating
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        text:
          type:
          - string
          - 'null'
          maxLength: 1000
          example: 정말 재미있어요!
    LeaderboardEntry:
      type: object
      required:
      - rank
      - user_id
      - score
      properties:
        rank:
          type: integer
          example: 1
        user_id:
          type: string
        user:
          type: object
          properties:
            id:
              type: string
            username:
              type: string
            avatar_url:
              type:
              - string
              - 'null'
        score:
          type: integer
          example: 9800
        played_at:
          type: string
          format: date-time
    CreatorSummary:
      type: object
      properties:
        id:
          type: string
        handle:
          type: string
        display_name:
          type: string
        avatar_url:
          type: string
        is_verified:
          type: boolean
        follower_count:
          type: integer
      required:
      - id
      - handle
      - display_name
      - avatar_url
      - is_verified
    Creator:
      type: object
      properties:
        id:
          type: string
        handle:
          type: string
        display_name:
          type: string
        avatar_url:
          type:
          - string
          - 'null'
        is_verified:
          type: boolean
        bio:
          type:
          - string
          - 'null'
        follower_count:
          type: integer
        is_following:
          type: boolean
      required:
      - id
      - handle
      - display_name
    CreatorAnalytics:
      type: object
      properties:
        period:
          type: string
          enum:
          - 7d
          - 30d
          - 90d
          example: 30d
        total_views:
          type: integer
          example: 123456
        total_likes:
          type: integer
          example: 23456
        total_comments:
          type: integer
          example: 1234
        follower_growth:
          type: integer
          example: 567
        top_contents:
          type: array
          items:
            type: object
            properties:
              content_id:
                type: string
              title:
                type: string
              views:
                type: integer
              likes:
                type: integer
    Report:
      type: object
      properties:
        id:
          type: string
        content_id:
          type: string
        reporter_id:
          type: string
        report_type:
          type: string
        details:
          type: string
        status:
          type: string
        priority:
          type: string
        created_at:
          type: string
      required:
      - id
      - content_id
      - reporter_id
      - report_type
      - details
      - status
      - priority
      - created_at
    CreateReportRequest:
      type: object
      properties:
        content_id:
          type: string
        report_type:
          type: string
          enum:
          - violence
          - sexual
          - hate_speech
          - spam
          - copyright
          - misinformation
          - harassment
          - self_harm
          - illegal
          - other
        details:
          type: string
      required:
      - content_id
      - report_type
    AdminDashboard:
      type: object
      properties:
        total_users:
          type: integer
          example: 123456
        active_users_today:
          type: integer
          example: 8901
        total_contents:
          type: integer
          example: 456789
        contents_today:
          type: integer
          example: 1234
        pending_reports:
          type: integer
          example: 56
        api_calls_today:
          type: integer
          example: 1234567
        system_status:
          type: string
          enum:
          - healthy
          - degraded
          - down
          example: healthy
    UserAdmin:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        handle:
          type: string
        display_name:
          type: string
        role:
          type: string
        avatar_url:
          type:
          - string
          - 'null'
        is_verified:
          type: boolean
        is_suspended:
          type: boolean
        created_at:
          type: string
        last_login_at:
          type:
          - string
          - 'null'
        stats:
          type: object
          properties: {}
          required: []
      required:
      - id
      - email
      - handle
      - role
      - is_suspended
      - created_at
    UpdateUserAdminRequest:
      type: object
      properties:
        role:
          type: string
          enum:
          - user
          - admin
        is_suspended:
          type: boolean
        reason:
          type: string
      required: []
      additionalProperties: false
      anyOf:
      - required:
        - role
      - required:
        - is_suspended
    ModerateContentRequest:
      type: object
      required:
      - action
      properties:
        action:
          type: string
          enum:
          - approve
          - reject
          - remove
          - warn
          example: approve
        reason:
          type:
          - string
          - 'null'
          maxLength: 2000
          example: 콘텐츠 검열 기준 충족
    ApiMeta:
      type: object
      properties:
        version:
          type: string
        timestamp:
          type: string
        request_id:
          type: string
      required:
      - version
    JsonValue:
      description: Any JSON value (serialized safely by the transport).
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 0
        per_page:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
        has_next:
          type: boolean
        has_prev:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
        prev_cursor:
          type:
          - string
          - 'null'
      required:
      - page
      - per_page
      - total
      - total_pages
      - has_next
      - has_prev
      - next_cursor
      - prev_cursor
    StreamPagination:
      type: object
      properties:
        per_page:
          type: integer
          minimum: 1
        has_next:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
      required:
      - per_page
      - has_next
      - next_cursor
    CloudProject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        jump_content_id:
          type:
          - string
          - 'null'
        status:
          type: string
        created_at:
          type: string
      required:
      - id
      - name
      - status
      - created_at
    CloudVariable:
      type: object
      properties:
        key:
          type: string
        scope:
          type: string
          enum:
          - global
          - user
        valueNum:
          type:
          - integer
          - 'null'
        valueText:
          type:
          - string
          - 'null'
        version:
          type: integer
          minimum: 0
        updatedAt:
          type: string
      required:
      - key
      - scope
      - valueNum
      - valueText
      - version
    CloudSave:
      type: object
      properties:
        slot:
          type: string
        version:
          type: integer
        byteSize:
          type: integer
        updatedAt:
          type: string
        data:
          $ref: '#/components/schemas/JsonValue'
      required:
      - slot
      - version
      - byteSize
      - updatedAt
    CloudProduct:
      type: object
      properties:
        id:
          type: string
        sku:
          type: string
        name:
          type: string
        priceKrw:
          type: integer
          minimum: 100
          maximum: 10000000
        kind:
          type: string
        fulfillment:
          type: object
          properties: {}
          required: []
        status:
          type: string
        pointGrantEnabled:
          type: boolean
      required:
      - id
      - sku
      - name
      - priceKrw
      - kind
      - fulfillment
      - status
      - pointGrantEnabled
    CloudFunction:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        scanScore:
          type: integer
        status:
          type: string
        version:
          type: integer
        updatedAt:
          type: string
      required:
      - id
      - name
      - scanScore
      - status
      - version
      - updatedAt
    GameDeployment:
      type: object
      properties:
        idempotency_key:
          type: string
        content_id:
          type: string
        status:
          type: string
        reserved_at:
          type:
          - string
          - 'null'
        completed_at:
          type:
          - string
          - 'null'
        package_sha256:
          type: string
        size_bytes:
          type: integer
        content_status:
          type: string
        source_verified:
          type: boolean
      required:
      - idempotency_key
      - content_id
      - status
      - reserved_at
      - completed_at
      - package_sha256
      - size_bytes
  parameters:
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: 페이지당 항목 수
    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: 오프셋
    SortParam:
      name: sort
      in: query
      schema:
        type: string
        enum:
        - latest
        - popular
        - trending
        default: latest
      description: 정렬 기준
  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: VALIDATION_ERROR
              message: 요청 필드가 유효하지 않습니다
              details:
              - field: title
                message: 제목은 1자 이상이어야 합니다
    Unauthorized:
      description: 인증 필요
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: 인증이 필요합니다
    Forbidden:
      description: 접근 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: 접근 권한이 없습니다
    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: NOT_FOUND
              message: 요청한 리소스를 찾을 수 없습니다
    TooManyRequests:
      description: 속도 제한 초과
      headers:
        Retry-After:
          schema:
            type: integer
          description: 재시도 대기 시간 (초)
        X-RateLimit-Limit:
          schema:
            type: integer
          description: 분당 허용 요청 수
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: 남은 요청 수
        X-RateLimit-Reset:
          schema:
            type: integer
          description: 제한 리셋 시간 (유닉스 타임스탬프)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RATE_LIMITED
              message: 요청이 너무 많습니다. 잠시 후 다시 시도해 주세요
    InternalError:
      description: 서버 내부 에러
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INTERNAL_ERROR
              message: 서버 내부 오류가 발생했습니다
paths:
  /auth/register:
    post:
      operationId: registerUser
      summary: registerUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      tokens:
                        $ref: '#/components/schemas/TokenResponse'
                    required:
                    - user
                    - tokens
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      security: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /auth/login:
    post:
      operationId: loginUser
      summary: loginUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    oneOf:
                    - type: object
                      properties:
                        user:
                          $ref: '#/components/schemas/User'
                        tokens:
                          $ref: '#/components/schemas/TokenResponse'
                      required:
                      - user
                      - tokens
                    - type: object
                      properties:
                        requires_totp:
                          const: true
                        challenge_token:
                          type: string
                        expires_in:
                          type: integer
                      required:
                      - requires_totp
                      - challenge_token
                      - expires_in
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      security: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /auth/logout:
    post:
      operationId: logoutUser
      summary: logoutUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Logged out; no body
      parameters: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /auth/refresh:
    post:
      operationId: refreshToken
      summary: refreshToken
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      tokens:
                        $ref: '#/components/schemas/TokenResponse'
                    required:
                    - tokens
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      security: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /auth/me:
    get:
      operationId: getCurrentUser
      summary: getCurrentUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                    required:
                    - user
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
    patch:
      operationId: updateCurrentUser
      summary: updateCurrentUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                    required:
                    - user
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 60
                bio:
                  type: string
                  maxLength: 160
                website_url:
                  type: string
                  maxLength: 512
                location:
                  type: string
                  maxLength: 64
                banner_tone:
                  type: string
                  enum:
                  - cyan
                  - swipe
                  - jump
                  - slate
                cover_url:
                  type: string
                avatar_url:
                  type: string
              required: []
              additionalProperties: false
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /feeds:
    get:
      operationId: getFeeds
      summary: getFeeds
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - hype
          - swipe
          - jump
          - vive
          - vine
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - stream
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /feeds/hype:
    get:
      operationId: getHypeFeed
      summary: getHypeFeed
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - hype
          - swipe
          - jump
          - vive
          - vine
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - stream
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /feeds/swipe:
    get:
      operationId: getSwipeFeed
      summary: getSwipeFeed
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - hype
          - swipe
          - jump
          - vive
          - vine
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - stream
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /feeds/jump:
    get:
      operationId: getJumpFeed
      summary: getJumpFeed
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - hype
          - swipe
          - jump
          - vive
          - vine
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - stream
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /contents/{id}:
    get:
      operationId: getContent
      summary: getContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
    delete:
      operationId: deleteContent
      summary: deleteContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
    patch:
      operationId: updateContent
      summary: updateContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContentRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /contents:
    post:
      operationId: createContent
      summary: createContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                      deployment:
                        $ref: '#/components/schemas/GameDeployment'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      - BrowserSession: []
  /contents/{id}/like:
    post:
      operationId: likeContent
      summary: likeContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      is_liked:
                        type: boolean
                      like_count:
                        type: integer
                    required:
                    - is_liked
                    - like_count
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /contents/{id}/bookmark:
    post:
      operationId: bookmarkContent
      summary: bookmarkContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      is_bookmarked:
                        type: boolean
                      bookmark_count:
                        type: integer
                    required:
                    - is_bookmarked
                    - bookmark_count
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /contents/{id}/comments:
    get:
      operationId: getContentComments
      summary: getContentComments
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      comments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Comment'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - comments
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
    post:
      operationId: createComment
      summary: createComment
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      comment:
                        $ref: '#/components/schemas/Comment'
                    required:
                    - comment
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /jump/games:
    get:
      operationId: getJumpGames
      summary: getJumpGames
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      games:
                        type: array
                        items:
                          $ref: '#/components/schemas/Content'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - games
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: legacy_source
        in: query
        required: false
        schema:
          type: string
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /jump/games/{id}:
    get:
      operationId: getJumpGame
      summary: getJumpGame
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                      related:
                        type: array
                        items:
                          $ref: '#/components/schemas/Content'
                      popular:
                        type: array
                        items:
                          $ref: '#/components/schemas/Content'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: include
        in: query
        required: false
        schema:
          type: string
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /jump/games/{id}/play:
    post:
      operationId: playJumpGame
      summary: playJumpGame
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      ok:
                        const: true
                      sandbox:
                        type: object
                        properties:
                          boundary:
                            type: string
                          memory_cap_mb:
                            type: integer
                          pids_max:
                            type: integer
                        required:
                        - boundary
                        - memory_cap_mb
                        - pids_max
                    required:
                    - ok
                    - sandbox
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayGameRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
      security: []
  /creators/{handle}:
    get:
      operationId: getCreator
      summary: getCreator
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      creator:
                        $ref: '#/components/schemas/Creator'
                    required:
                    - creator
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /creators/{handle}/contents:
    get:
      operationId: getCreatorContents
      summary: getCreatorContents
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      feeds:
                        type: array
                        items:
                          $ref: '#/components/schemas/Content'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - feeds
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: category
        in: query
        required: false
        schema:
          type: string
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /reports:
    post:
      operationId: createReport
      summary: createReport
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      report:
                        $ref: '#/components/schemas/Report'
                    required:
                    - report
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
    get:
      operationId: listReports
      summary: listReports
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      reports:
                        type: array
                        items:
                          $ref: '#/components/schemas/Report'
                      total:
                        type: integer
                        minimum: 0
                    required:
                    - reports
                    - total
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /admin/users:
    get:
      operationId: getAdminUsers
      summary: getAdminUsers
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties: {}
                          required: []
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - users
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: role
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /admin/users/{id}:
    patch:
      operationId: updateAdminUser
      summary: updateAdminUser
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/UserAdmin'
                    required:
                    - user
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserAdminRequest'
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /feeds/vive:
    get:
      operationId: getViveFeed
      summary: getViveFeed
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /feeds/vine:
    get:
      operationId: getVineFeed
      summary: getVineFeed
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/FeedResponse'
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - hot
          - new
          - top
          - length
          - following
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /auth/sessions:
    get:
      operationId: listSessions
      summary: listSessions
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          type: object
                          properties: {}
                          required: []
                    required:
                    - sessions
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
  /auth/sessions/{id}:
    delete:
      operationId: revokeSession
      summary: revokeSession
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Session revoked; no body
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /auth/session:
    post:
      operationId: activateSession
      summary: activateSession
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                    required:
                    - user
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /contents/{id}/publish:
    post:
      operationId: publishContent
      summary: publishContent
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                      deployment:
                        $ref: '#/components/schemas/GameDeployment'
                    required:
                    - content
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  const: yolo
              required:
              - mode
              additionalProperties: false
      description: Account publish accepts an empty body. Scoped Game CLI OAuth requires exactly {"mode":"yolo"}
        and Idempotency-Key; quota is 3 production deployments per rolling 21600 seconds.
  /contents/{id}/view:
    post:
      operationId: recordContentView
      summary: recordContentView
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      view_count:
                        type: integer
                      counted:
                        type: boolean
                    required:
                    - view_count
                    - counted
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /comments/{id}:
    patch:
      operationId: updateComment
      summary: updateComment
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      comment:
                        $ref: '#/components/schemas/Comment'
                    required:
                    - comment
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 1000
              required:
              - body
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
    delete:
      operationId: deleteComment
      summary: deleteComment
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '204':
          description: No content
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /contents/{id}/recommendations:
    get:
      operationId: getContentRecommendations
      summary: getContentRecommendations
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMeta'
                      recommendations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Content'
                    required:
                    - recommendations
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /jump/games/{id}/package:
    get:
      operationId: getGamePackage
      summary: getGamePackage
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /jump/games/{id}/stream:
    post:
      operationId: streamJumpGame
      summary: streamJumpGame
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
      security: []
  /jump/games/{id}/swf:
    post:
      operationId: getJumpSwf
      summary: getJumpSwf
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /jump/games/{id}/package-manifest:
    get:
      operationId: getGamePackageManifest
      summary: getGamePackageManifest
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties: {}
                    required: []
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /creators/{handle}/follow:
    post:
      operationId: followCreator
      summary: followCreator
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      is_following:
                        type: boolean
                      follower_count:
                        type: integer
                    required:
                    - is_following
                    - follower_count
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /creators/{handle}/followers:
    get:
      operationId: getCreatorFollowers
      summary: getCreatorFollowers
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties: {}
                          required: []
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - users
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /creators/{handle}/following:
    get:
      operationId: getCreatorFollowing
      summary: getCreatorFollowing
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties: {}
                          required: []
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    required:
                    - users
                    - pagination
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
      security: []
  /developer/keys:
    get:
      operationId: listApiKeys
      summary: listApiKeys
      tags:
      - Developer
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      api_keys:
                        type: array
                        items:
                          type: object
                          properties: {}
                          required: []
                    required:
                    - api_keys
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      x-zuku-native-credentials-only: false
      x-zuku-retry: safe-read
    post:
      operationId: createApiKey
      summary: createApiKey
      tags:
      - Developer
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      api_key:
                        type: object
                        properties: {}
                        required: []
                      key:
                        type: string
                    required:
                    - api_key
                    - key
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                rate_limit_per_min:
                  type: integer
                  minimum: 1
                  maximum: 100000
              required:
              - name
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /developer/keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: revokeApiKey
      tags:
      - Developer
      x-zuku-availability: implemented
      responses:
        '204':
          description: No content
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /uploads:
    post:
      operationId: uploadMedia
      summary: uploadMedia
      tags:
      - Contents
      x-zuku-availability: implemented
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      upload:
                        type: object
                        properties:
                          url:
                            type: string
                          kind:
                            type: string
                          mime:
                            type: string
                          size:
                            type: integer
                            minimum: 0
                          sha256:
                            type: string
                            pattern: ^[a-f0-9]{64}$
                          original_name:
                            type: string
                          package:
                            type: object
                            properties: {}
                            required: []
                        required:
                        - url
                        - kind
                        - mime
                        - size
                        - sha256
                        - original_name
                    required:
                    - upload
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      x-zuku-native-credentials-only: false
      x-zuku-retry: never
  /oauth/me:
    get:
      operationId: getGameOAuthUser
      summary: getGameOAuthUser
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            type: string
                          handle:
                            type: string
                        required:
                        - id
                        - display_name
                        - handle
                      client_id:
                        type: string
                      scopes:
                        type: array
                        items:
                          type: string
                      expires_at:
                        type: string
                    required:
                    - user
                    - client_id
                    - scopes
                    - expires_at
                  meta:
                    $ref: '#/components/schemas/ApiMeta'
                required:
                - success
                - data
                - meta
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
      x-zuku-native-credentials-only: true
      x-zuku-retry: safe-read
  /oauth/deploy-quota:
    get:
      operationId: getDeployQuota
      summary: getDeployQuota
      tags:
      - Auth
      x-zuku-availability: implemented
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      limit:
                        const: 3
                      window_seconds:
                        const: 21600
                      used:
                        type: integer
                        minimum: 0
                      pending:
                        type: integer
                        minimum: 0
                      remaining:
                        type: integer
                        minimum: 0
                      reset_at:
                        type:
                        - string
                        - 'null'
[...]
